In [14]:
nombres = [1,2,3,4,5]

In [15]:
nombres = nombres + [6,7,8]

In [16]:
print(nombres)

[1, 2, 3, 4, 5, 6, 7, 8]

In [18]:
print(10 in nombres)

False

In [29]:
villes = ["Paris", "Londres", "Strasbourg", "New York", "Manchester"]

In [26]:
print(villes)

['Paris', 'Strasbourg', 'New York', 'Manchester']

In [23]:
print("Londres" in villes)

True

In [24]:
del villes[1]

In [25]:
print("Londres" in villes)

False

In [27]:
del villes

In [30]:
print(villes)

['Paris', 'Londres', 'Strasbourg', 'New York', 'Manchester']

In [32]:
var = [2]*10
print(var)

[2, 2, 2, 2, 2, 2, 2, 2, 2, 2]