In [19]:
nombres = [1,2,3,4,5,6,7,8]
villes = ["Paris", "Londres", "Strasbourg", "New York", "Manchester"]

In [2]:
nombres.append(18)

In [5]:
print(nombres)

[1, 2, 3, 4, 5, 6, 7, 8, 18, 3]

In [4]:
nombres.append(3)

In [6]:
villes.insert(1, "Marseille")

In [16]:
print(villes)

['Paris', 'Londres', 'Strasbourg', 'New York', 'Manchester']

In [14]:
villes.remove("Strasbourg")
print(villes)

['Paris', 'Londres', 'New York', 'Manchester']

In [17]:
del villes[2]

In [20]:
print(villes)

['Paris', 'Londres', 'Strasbourg', 'New York', 'Manchester']

In [21]:
ville = villes.pop()

In [22]:
print(villes)

['Paris', 'Londres', 'Strasbourg', 'New York']

In [23]:
print(ville)

Manchester

In [29]:
nombre1 = [5, 59, 40, 12, 6, 30]

[5, 59, 40, 12, 6, 30]

In [32]:
nombre1.sort()

In [33]:
print(nombre1)

[5, 6, 12, 30, 40, 59]